.prno_1
{
    padding: 2px;
    width: 2px;
    height: 2px;
    background-color: #ff0000;
}
.prno_2
{
    padding: 2px;
    width: 2px;
    height: 2px;
    background-color: #ff9900;
}
.prno_3
{
    padding: 2px;
    width: 2px;
    height: 2px;
    background-color: #00cc00;
}